<form [formGroup]="saleForm">
	<div formArrayName="products">
		<div *ngFor="let product of productForms.controls; let i = index" [formGroupName]="i">
			<mat-form-field appearance="standard">
				<mat-label>Category</mat-label>
				<mat-select formControlName="category">
					<mat-option *ngFor="let category of dataService.categories" [value]="category">
						{{ category | titlecase }}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field appearance="standard">
				<input matInput type="text" formControlName="name" [matAutocomplete]="auto" />
				<mat-label>Product Name</mat-label>
				<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
					<mat-option *ngFor="let option of filteredProducts[i]" [value]="option.name">
						{{ option.name | titlecase }}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>

			<mat-form-field appearance="standard">
				<input matInput type="number" formControlName="price" />
				<span matPrefix>&#8377;&nbsp;</span>
				<mat-label>Price Rate</mat-label>
			</mat-form-field>

			<mat-form-field appearance="standard">
				<input matInput type="number" formControlName="quantity" />
				<mat-label>Quantity</mat-label>
			</mat-form-field>

			<button mat-icon-button color="warn" (click)="deleteProduct(i)">
				<mat-icon>delete</mat-icon>
			</button>
		</div>
	</div>
	<button mat-raised-button color="primary" (click)="addProduct()">
		<mat-icon>add</mat-icon> Add
	</button>
</form>
