<form [formGroup]="saleForm">
	<div formArrayName="products">
		<div *ngFor="let product of productForms.controls; let i = index" [formGroupName]="i">
			<mat-form-field>
				<input matInput type="text" placeholder="Category" formControlName="category" />
			</mat-form-field>

			<mat-form-field>
				<input
					matInput
					type="text"
					placeholder="Name"
					formControlName="name"
					[matAutocomplete]="auto"
				/>
				<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
					<mat-option *ngFor="let option of filteredNames[i] | async" [value]="option">
						{{ option }}
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>

			<mat-form-field>
				<input matInput type="number" placeholder="Price" formControlName="price" />
			</mat-form-field>

			<button mat-icon-button color="warn" (click)="deleteProduct(i)">
				<mat-icon>delete</mat-icon>
			</button>
		</div>
	</div>
	<button mat-raised-button color="primary" (click)="addProduct()">
		<mat-icon>add</mat-icon> Add
	</button>
</form>
