<div style="display: flex; justify-content: space-between; padding: 0 1rem">
	<p *ngIf="auth.user | async as usr">{{ usr.email }}</p>
	<button mat-button color="primary" (click)="auth.logout()">Log out</button>
</div>

<mat-tab-group>
	<mat-tab label="Add Sale">
		<app-add-sale-form></app-add-sale-form>
	</mat-tab>

	<mat-tab label="Add Purchase">
		<app-add-purchase-form></app-add-purchase-form>
	</mat-tab>

	<mat-tab label="View Stock">
		<app-stock></app-stock>
	</mat-tab>

	<mat-tab label="More">
		<app-new-product-form></app-new-product-form>
		<app-new-category-form></app-new-category-form>
	</mat-tab>
</mat-tab-group>
